body {
  background-color: $color-dark;
  color: $color-light;
}

.map--wrapper {
  @include clearfix;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.map--tile, .map--pixel {
  position: relative;
}

.map--tile {
  display: flex;
  flex-flow: row wrap;
}


.map--tile-height-spacer {
  padding-bottom: 100%;
}